<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  >
	<display-name>robot</display-name>
	<description>
	Robot
	</description>
	
	<!--Home -->
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.robot.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	
	<!--Demo -->
	<servlet>
		<servlet-name>Demo</servlet-name>
		<servlet-class>com.robot.Demo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/Demo</url-pattern>
	</servlet-mapping>
</web-app>